#dashboard-kasir-search {
  display: flex;
  .logo-container {
    padding-right: 30px;
  }
  .ant-input-affix-wrapper.input-search {
    border-radius: 14px;
    background-color: #f2f2f2;
    border: none;
    .ant-input-prefix {
      margin: 0px 28px 0px 16px;
    }
    input {
      background-color: #f2f2f2;
    }
    &:focus {
      border-color: #e72f2f;
    }
  }
}
