#form-buat-pesanan {
  padding-top: 37px;
  .input {
    border-radius: 9px;
    height: 55px;
  }

  .form-item-password {
    padding: 20px 0px 20px 0px;
  }
  .btn-form-buat-pesanan {
    margin-top: 1em;
  }
}
