@import "../../../../colors";

.kategori-menu-item {
  user-select: none;
  cursor: pointer;
  box-shadow: 0 4px 25px 0 rgba(141, 141, 141, 0.1);
  border-radius: 14px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  position: relative;
  background-color: #ffffff;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;

  &.kategori-menu-item-active {
    cursor: default;
    pointer-events: none;
  }
  &.kategori-menu-item-active,
  &:hover {
    background: $primaryColor;
    color: $textColorSecondary;
    p {
      color: $textColorSecondary;
    }
    .delete-container {
      z-index: 0;
      color: $secondaryColor;
      &:hover {
        cursor: pointer;
      }
    }
  }

  img {
    width: 48px;
  }

  p {
    font-weight: 600;
    font-size: 18px;
    padding-top: 1rem;
  }

  .delete-container {
    position: absolute;
    top: 12px;
    right: 13px;
    z-index: -1;
    pointer-events: auto;
  }
}
