@import "../../colors";
#dashboard-admin-menu-page {
  h1 {
    margin-bottom: 24px;
  }
  .daftar-menu-container {
    margin-top: 5rem;
    .ant-btn {
      &.btn-tambah-menu {
        min-width: 204px;
        min-height: 56px;
        border: 1px solid $secondaryColor;
        border-radius: 10px;
        margin-bottom: 30px;
        span {
          color: $secondaryColor;
        }
      }
    }
  }
}
