@import "../../colors";
.dashboard-kasir-pesanan-list-item {
  margin-bottom: 35px;
  padding-right: 50px;
  position: relative;

  .list-item-delete {
    position: absolute;
    transition: all 0.5s ease;
    transition-delay: 0.5;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0;

    .ant-btn {
      &.delete-item {
        background-color: $primaryColor;
        &:hover,
        &:focus {
          background: $primaryColor;
          border-color: $primaryColor;
          box-shadow: 0px 8px 30px rgba(255, 83, 72, 0.35);
        }
      }
    }
    &.show-delete-btn {
      opacity: 1;
      z-index: 0;
    }
  }
  .dashboard-kasir-pesanan-list-item-card {
    width: 100%;

    border-radius: 14px;
    transition: all 0.5s ease;

    &.sliding-card {
      box-shadow: 0px 4px 16px rgba(142, 142, 142, 0.25);
      padding: 13px 15px;
      border-radius: 14px;
      margin-left: 72px;
    }

    .list-item-image {
      cursor: pointer;
    }

    .list-item-detail {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      p {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height */

        color: #9e9e9e;
      }
    }
    .list-item-quantity {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ant-btn {
        &.increase-quantity {
          background-color: $secondaryColor;
          &:hover,
          &:focus {
            background: $secondaryColor;
            border-color: $secondaryColor;
            box-shadow: 0px 8px 30px rgba(35, 198, 91, 0.35);
          }
        }
        &.decrease-quantity {
          background-color: $primaryColor;
          &:hover,
          &:focus {
            background: $primaryColor;
            border-color: $primaryColor;
            box-shadow: 0px 8px 30px rgba(255, 83, 72, 0.35);
          }
        }
      }
      .show-quantity {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
