#admin-menu-list {
  background: #ffffff;
  box-shadow: 0px 4px 96px rgba(141, 141, 141, 0.1);
  border-radius: 14px;
  padding: 2rem 40px 23px 23px;
  .admin-menu-list-container {
    padding-top: 2rem;
  }
}
