#dashboard-admin-sidebar {
  .admin-sidebar-container {
    height: 100%;
    padding: 5rem 2.5rem 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .wrapper-top {
      .logo-container {
        display: flex;
        justify-content: center;
      }
      .options-container {
        padding-top: 8.75rem;
      }
    }
  }
}
