#dashboard-pelayan-kategori-menu {
  margin-bottom: 63px;
  .kategori-menu-items {
    padding-top: 23px;
    .kategori-menu-item {
      box-shadow: 0 4px 25px 0 rgba(141, 141, 141, 0.1);
      user-select: none;
      cursor: pointer;
      padding: 33px 0;
      border-radius: 14px;

      &.kategori-menu-item-active {
        background-color: #ff5348;
        .kategori-menu-container {
          .kategori-menu-title {
            color: #ffffff;
          }
        }
      }
      &:hover {
        background-color: #ff5348;
        .kategori-menu-container {
          .kategori-menu-title {
            color: #ffffff;
          }
        }
      }

      .kategori-menu-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .kategori-menu-title {
          font-size: 18px;
          font-weight: 600;
          margin-top: 15px;
        }
      }
    }
  }
}
