@import "../../../colors";
#dashboard-kasir-profile {
  .dashboard-kasir-profile-container {
    display: flex;
    padding: 87px 0;
    // dot In avatar profile
    .profile-image {
      .ant-badge {
        .ant-badge-dot {
          top: 7px;
          left: -12px;
          width: 16px;
          height: 16px;
          box-shadow: none;
        }
      }
    }
    .profile-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .detail-user {
        padding-left: 18px;
        p {
          margin: 0;
          color: $textColorSecondary;
          &:first-child {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
          }
          &:last-child {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      .detail-dropdown {
        padding-left: 67px;
        span {
          cursor: pointer;
          svg {
            path {
              fill: $textColorSecondary;
            }
          }
        }
      }
    }
  }
}
