@import "../../colors";
@mixin btn-action {
  padding: 15px 55px;
  min-width: 144px;
  min-height: 56px;
  border-radius: 10px;
}
#dashboard-admin-page {
  .ant-btn {
    &.btn-tambah {
      min-width: 204px;
      min-height: 56px;
      border: 1px solid $secondaryColor;
      border-radius: 10px;
      span {
        color: $secondaryColor;
      }

      &:hover {
        background: $secondaryColor;
        span {
          color: $textColorSecondary;
        }
      }
    }
  }
}
