.pegawai-add-form-input {
  width: 100%;
  .pegawai-add-form-input-container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    row-gap: 15px;
  }
  .btn-submit {
    padding-top: 1.5em;
  }
}
