.print-invoice {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 2.5rem 0;
  .print-invoice-header {
    h1 {
      font-weight: 600;
      font-size: 14px;
      line-height: 36px;
    }
  }
  .print-invoice-body {
    padding-top: 20px;
    .dash-diveder-bottom {
      border-bottom: 1px dashed;
      padding: 1em 0;
    }

    .list-pesanan-lihat-item,
    .list-pesanan-title {
      display: flex;
      justify-content: space-between;
    }

    .list-pesanan-title {
      p {
        font-weight: 600;
        font-size: 12px;
      }
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
    }
    .detail-menu-pesanan {
      h2 {
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        padding: 0.5em 0;
      }
      margin-bottom: 2em;
    }
  }
}
