@import "../../colors";
#dashboard-kasir {
  background-color: $primaryColor;
  width: 100%;
  min-height: 100vh;
  background-image: url("./backgorund-kasir.png");
  background-size: cover;
  .dashboard-kasir-container {
    width: 80%;
    margin: 0 auto;
    .kasir-header-container {
      display: flex;
      justify-content: flex-end;
    }
    .kasir-main-container {
      background-color: $textColorSecondary;
      padding: 2rem;
      border-radius: 20px;
    }
  }
}
