@import "../../../../../colors";
@mixin btn-action {
  padding: 15px 55px;
  min-width: 144px;
  min-height: 56px;
  border-radius: 10px;
}
.list-pesanan-table-container {
  // Tables Styles
  .ant-table {
    .ant-table-row {
      .status-masak {
        .status-dimasak {
          color: $primaryColor;
        }
        .status-selesai {
          color: $secondaryColor;
        }
      }
      .list-pesanan-action {
        .ant-btn {
          &.btn-action-primary {
            @include btn-action();
            border: 1px solid $secondaryColor;
            span {
              color: $secondaryColor;
            }
            &:hover,
            &:active {
              background: $secondaryColor;
              span {
                color: $textColorSecondary;
              }
            }
          }

          &.btn-action-secondary {
            @include btn-action();
            background: $secondaryColor;
            border: 1px solid $secondaryColor;
            span {
              color: $textColorSecondary;
            }
            &:hover,
            &:active {
              background: $textColorSecondary;
              span {
                color: $secondaryColor;
              }
            }
          }
        }
      }
    }
  }
  // Pagination Styles
  .ant-pagination {
    .ant-pagination-item {
      border: none;
      &.ant-pagination-item-active {
        a {
          color: red;
        }
      }
      a {
        &:hover,
        &:active {
          color: red;
        }
      }
    }
    .ant-pagination-prev,
    .ant-pagination-next {
      &:hover,
      &:active {
        color: $primaryColor;
      }

      &.ant-pagination-disabled {
        color: $disabledColor;
        &:hover,
        &:active {
          color: $disabledColor;
        }
      }
    }
  }
}
