@import "~antd/dist/antd.css";
@import "./colors";
* {
  box-sizing: border-box;
}

body {
  &.ant-scrolling-effect {
    margin: 0;
    width: 100% !important;
  }
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span {
  color: $textColorPrimary;
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 24px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
}

// Buttion Styles
.ant-btn {
  &.custom-default-button {
    border-radius: 9px;
    height: 55px;
  }

  &.list-pesanan-search-btn {
    background: $primaryColor;
    border-color: $primaryColor;

    span {
      color: $textColorSecondary;
    }
    &:hover,
    &:focus {
      background: $primaryColor;
      border-color: $primaryColor;
    }
  }
  &.primary-button {
    background: $primaryColor;
    border-color: $primaryColor;

    span {
      color: $textColorSecondary;
    }

    &:hover,
    &:focus {
      background: $primaryColor;
      border-color: $primaryColor;
      box-shadow: 0px 8px 30px rgba(255, 83, 72, 0.35);
    }
  }

  &.secondary-button {
    background: $secondaryColor;
    border-color: $secondaryColor;

    span {
      color: $textColorSecondary;
    }

    &:hover,
    &:focus {
      background: $secondaryColor;
      border-color: $secondaryColor;
      box-shadow: 0px 8px 30px rgba(35, 198, 91, 0.35);
    }
  }

  &.checkout-btn {
    background: $secondaryColor;
    border-color: $secondaryColor;
    border-radius: 140px;
    min-height: 70px;
    span {
      color: $textColorSecondary;
      font-weight: 600;
      font-size: 24px;
    }
    &:hover,
    &:focus {
      background: $secondaryColor;
      border-color: $secondaryColor;
      box-shadow: 0px 8px 30px rgba(35, 198, 91, 0.35);
    }
  }

  &.btn-tambah {
    min-width: 204px;
    min-height: 56px;
    border: 1px solid $secondaryColor;
    border-radius: 10px;
    span {
      color: $secondaryColor;
    }

    &:hover {
      background: $secondaryColor;
      span {
        color: $textColorSecondary;
      }
    }
  }
}
.ant-btn[disabled] {
  background: $disabledColor;
  border-color: $disabledColor;

  span {
    color: $textColorSecondary;
  }

  &:hover,
  &:focus {
    background: $disabledColor;
    border-color: $disabledColor;
    box-shadow: 0px 8px 30px rgba(136, 136, 136, 0.356);
  }
}
// Divider Styles
.ant-divider-horizontal {
  &.ant-divider-with-text {
    margin: 0 16px 0 0;
    border-top-color: #dddddd;
    &::before {
      border-top: none;
      content: none;
    }
    span {
      padding: 0 15px 0 0;
      font-weight: 600;
      font-size: 24px;
      color: $textColorPrimary;
    }
  }
}

// Modal Styles
.ant-modal {
  min-width: 50%;
  .ant-modal-content {
    border-radius: 30px;
    .ant-modal-body {
      padding: 30px 32px;
      .modal-title {
        margin-bottom: 46px;
        text-align: center;
      }
    }
  }
}

// Form Styles
.ant-form {
  .ant-form-item {
    .ant-form-item-label {
      label {
        font-weight: 500;
        font-size: 16px;

        color: $textColorPrimary;
      }
    }
    .ant-form-item-control {
      .input {
        &:hover,
        &:focus,
        &:active {
          border-color: $secondaryColor;
        }
        border-radius: 9px;
        height: 55px;
      }
      .ant-select {
        .ant-select-selector {
          &:hover,
          &:focus,
          &:active {
            border-color: $secondaryColor;
          }
          border-radius: 9px;
          height: 55px;
          .ant-select-selection-item {
            display: flex;
            align-items: center;
          }
        }
        &:hover,
        &:focus,
        &:active {
          border-color: $secondaryColor;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    -webkit-transform: rotate(90deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
