@import "~antd/dist/antd.css";
@import "./colors";
* {
  box-sizing: border-box;
}

body {
  &.ant-scrolling-effect {
    margin: 0;
    width: 100% !important;
  }
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span {
  color: $textColorPrimary;
  margin: 0;
  -webkit-user-select: none;
}
img {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
h1 {
  font-weight: 600;
  font-size: 24px;
}

h2 {
  font-weight: 600;
  font-size: 18px;
}

// Buttion Styles
.ant-btn {
  &.custom-default-button {
    border-radius: 9px;
    height: 55px;
  }

  &.list-pesanan-search-btn {
    background: $primaryColor;
    border-color: $primaryColor;

    span {
      color: $textColorSecondary;
    }
    &:hover,
    &:focus {
      background: $primaryColor;
      border-color: $primaryColor;
    }
  }
  &.primary-button {
    background: $primaryColor;
    border-color: $primaryColor;

    span {
      color: $textColorSecondary;
    }

    &:hover,
    &:focus {
      background: $primaryColor;
      border-color: $primaryColor;
      box-shadow: 0px 8px 30px rgba(255, 83, 72, 0.35);
    }
  }

  &.secondary-button {
    background: $secondaryColor;
    border-color: $secondaryColor;

    span {
      color: $textColorSecondary;
    }

    &:hover,
    &:focus {
      background: $secondaryColor;
      border-color: $secondaryColor;
      box-shadow: 0px 8px 30px rgba(35, 198, 91, 0.35);
    }
  }

  &.checkout-btn {
    background: $secondaryColor;
    border-color: $secondaryColor;
    border-radius: 140px;
    min-height: 70px;
    span {
      color: $textColorSecondary;
      font-weight: 600;
      font-size: 24px;
    }
    &:hover,
    &:focus {
      background: $secondaryColor;
      border-color: $secondaryColor;
      box-shadow: 0px 8px 30px rgba(35, 198, 91, 0.35);
    }
  }
}

// Divider Styles
.ant-divider-horizontal {
  &.ant-divider-with-text {
    margin: 0 16px 0 0;
    border-top-color: #dddddd;
    &::before {
      border-top: none;
      content: none;
    }
    span {
      padding: 0 15px 0 0;
      font-weight: 600;
      font-size: 24px;
      color: $textColorPrimary;
    }
  }
}

// Modal Styles
.ant-modal {
  .ant-modal-content {
    border-radius: 30px;
    .ant-modal-body {
      padding: 30px 32px;
    }
  }
}

.delete-modal {
  .delete-modal-container {
    text-align: center;
    padding: 2rem;
    h2 {
      padding-top: 0.7rem;
      padding-bottom: 2.5rem;
    }
    .ant-btn {
      &.btn-default {
        min-width: 144px;
        min-height: 55px;
        border-radius: 10px;
      }

      &.btn-action-cancel {
        border-color: $primaryColor;

        span {
          color: $primaryColor;
        }

        &:hover,
        &:focus {
          background: $primaryColor;
          box-shadow: 0px 8px 30px rgba(255, 83, 72, 0.35);
          span {
            color: $textColorSecondary;
          }
        }
      }

      &.btn-action-delete {
        background: $primaryColor;
        border-color: $primaryColor;

        span {
          color: $textColorSecondary;
        }

        &:hover,
        &:focus {
          background-color: #fff;
          border-color: $primaryColor;

          span {
            color: $primaryColor;
          }
        }
      }
    }
  }
}
